@{
    ViewBag.Title = "Create a document";
}

<form method="post">
    <br /><br />
    <label for="FullName">Full name:</label>
    <br />
    <input type="text" name="FullName" id="FullName" />
    <br /><br />
    <label for="Email">Email address:</label>
    <br />
    <input type="text" name="Email" id="Email" />
    <br /><br />
    <button type="submit">Generate Document</button>
</form>